<h1>Listing Dietitians</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dietitians.each do |dietitian, user| %>
      <tr>
        <td><%= dietitian.name %></td>
        <td><%= dietitian.email %></td>
        <td><%= dietitian.role.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%#= link_to 'Edit', edit_user_path(user.id) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dietitian', new_user_registration_path %>
