<div class="container">
  <div class="row">
    <div class="col-xs-12 bannerinner">
      <%= image_tag("signup-banner.jpg", alt:"", width: "100%", class: "img-responsive" ) %>
      <div class="pagetitle">
        TelaDietitian Sign Up
      </div>
    </div>
  </div>
  <div class="signup">
    <div class="row">
      <div class="col-xs-12">
        <p>
          It's been a common practice among people trying to lose weight, to have something to eat after every 4-5 hours. However, studies showed that there is no such need to fill in your stomach after 4-5 to
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 signupinputs">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="row">
        <div class="col-sm-12">  
        <%= devise_error_messages! %>
        </div>
        <div class="row">
          <div class="col-sm-6">

            <%= f.text_field :first_name, autofocus: true, :placeholder => "First Name" %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :last_name, autofocus: true, :placeholder => "Last Name" %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <%= f.email_field :email, autofocus: true, :placeholder => "Email" %>
          </div>
          <div class="col-sm-6">
            <%= f.email_field :email, autofocus: true, :placeholder => "Confirm Email" %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <%= f.password_field :password, autocomplete: "off", :placeholder => "Password" %>
          </div>
          <div class="col-sm-6">
            <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm Password" %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <%= f.text_field :location, autofocus: true, :placeholder => "Location" %>
          </div>
          <div class="col-sm-6">
            <%= f.label :gender%>
            <%= f.select :gender, ['Male', 'Female', 'Other']%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <%= f.label :birthdate %>
            <%= f.date_select :dob, autofocus: true, :placeholder => "Birthdate" %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <%= f.text_field :height, autofocus: true, :placeholder => "Height" %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :weight, autofocus: true, :placeholder => "Weight" %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <%= f.text_field :health_insurance, autofocus: true, :placeholder => "Health Insurance" %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :uid_number, autofocus: true, :placeholder => "ID Number (if applicable)" %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-1">
            <div class="squaredTwo">
              <input type="checkbox" value="None" id="squaredTwo" name="check" />
              <label for="squaredTwo"></label>
            </div>
            <div class="agreeline">I Agree to the Terms of Use</div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <!-- <input type="button" value="SIGN UP" onClick="window.location='signup-next-registered.html';" class="signupbtn"> -->
            <%= f.submit "SIGN UP", :class => "signupbtn" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="clear">
      <%#= render "devise/shared/links" %>
    </div>
  </div>
</div>