<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
<div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :birthdate %><br />
    <%= f.date_select :birthdate, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Date of Birth" %><br />
    <%= f.date_select :dob, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :height %><br />
    <%= f.text_field :height, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight, autofocus: true %>
  </div>

   <div class="field">
    <%= f.label :health_insurance %><br />
    <%= f.text_field :health_insurance, autofocus: true %>
  </div>

   <div class="field">
    <%= f.label :uid_number %><br />
    <%= f.text_field :uid_number, autofocus: true %>
  </div>

   <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :role_id %><br>
    <%= collection_select(:user, :role_id, Role.all, :id, :name, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, placeholder: "Leave blank if unchanged" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
