<div class="row">
  <div class="col-xs-12 bannerinner">
     <%= image_tag("blog-banner.jpg", class: "img-responsive", alt: "", width: "100%") %>
    <div class="pagetitle">
      TelaDietitian Blog
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-9">
    <div class="blogdetails">
      <ul>
        <li>
          <div class="blogimg">
            <%= image_tag("blog-pic1.jpg", class: "img-responsive") %>
            
          </div>
          <div class="blogline">
            <div class="blogtitle">
              Some Nutritional Facts You Don't Know About<br/>
              <span>June 1, 2015 | Categories</span>
              <div class="blogshare">
                <a href="#">
                SHARE
                </a>
              </div>
            </div>
            <p>Its been a common practice among people trying to lose weight, to have something to eat after 4-5 hours. However, studies showed that there is no such need to fill in your stomach after 4-5 hours to</p>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <div class="blogimg">
            <%= image_tag("blog-pic2.jpg", class: "img-responsive") %>
          </div>
          <div class="blogline">
            <div class="blogtitle">
              Some Nutritional Facts You Don't Know About<br/>
              <span>June 1, 2015 | Categories</span>
              <div class="blogshare">
                <a href="#">
                SHARE
                </a>
              </div>
            </div>
            <p>Its been a common practice among people trying to lose weight, to have something to eat after 4-5 hours. However, studies showed that there is no such need to fill in your stomach after 4-5 hours to</p>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <div class="blogimg">
            <%= image_tag("blog-pic3.jpg", class: "img-responsive") %>
             </div>
          <div class="blogline">
            <div class="blogtitle">
              Some Nutritional Facts You Don't Know About<br/>
              <span>June 1, 2015 | Categories</span>
              <div class="blogshare">
                <a href="#">
                SHARE
                </a>
              </div>
            </div>
            <p>Its been a common practice among people trying to lose weight, to have something to eat after 4-5 hours. However, studies showed that there is no such need to fill in your stomach after 4-5 hours to</p>
          </div>
          <div class="clear"></div>
        </li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
  <div class="col-sm-12 col-md-3">
    <div class="recentposts">
      <p>Recent Posts</p>
      <ul>
        <li>
            <%= image_tag("recent-blog-pic1.jpg", class: "img-responsive") %>
            <p>
            Eating On The Go & Weight Gain<br />
            <span>June 1, 2015</span>
          </p>
        </li>
        <li>
            <%= image_tag("recent-blog-pic2.jpg", class: "img-responsive", alt: "") %>
          
          <p>
            Eating On The Go & Weight Gain<br />
            <span>June 1, 2015</span>
          </p>
        </li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="categories">
      <p>Categories</p>
      <ul>
        <li>
          <a href="#">Articles</a>
        </li>
        <li>
          <a href="#">Recipies</a>
        </li>
        <li>
          <a href="#">Nutrify Nugets</a>
        </li>
        <li>
          <a href="#">Tips</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>