<div class="row">
  <div class="col-xs-12 bannerinner">
        <%= image_tag("works-banner.jpg", class: 'img-responsive', alt:"", width: "100%") %>
    <div class="pagetitle1">
      How it Works
    </div>
    <div class="watchvideo">
      Watch Our Video
    </div>
  </div>
</div>
<div class="mainwork">
  <div class="col-md-6 col-xs-12 howwecan">
    <p class="howhead">How we can help you</p>
    <p>Expert, personalized, and professional nutritional care for you and your loved ones at $29/session. </p>
  </div>
  <div class="col-xs-6 resp360">
    <div class="row">
      <div class="col-xs-7 resp3601">
        <div class="workvideo">
          <%= image_tag("work-video-th.jpg", class: 'img-responsive', alt:"") %>
       
        </div>
      </div>
      <div class="col-xs-5 worksession">
        <p class="session-p">
          <sup>$</sup>29
        </p>
        <p>Per Session</p>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="worarea">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 worktabs">
      <%= image_tag("works-icon1.png", class: 'img-responsive', alt:"") %>
      <p class="worktabhead">Enroll</p>
      <p>Sign up with a brief questionnaire on your medical history and nutrition concerns on our secure and HIPPA-compliant platform.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 worktabs">
      <%= image_tag("works-icon2.png", class: 'img-responsive', alt:"") %>
      <p class="worktabhead">Select a Registered Dietitian</p>
      <p>Select a dietitian that is available right away or schedule a consultation at your convenience with an expert registered dietitian of you choice and preffered speciality.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 worktabs">
      <%= image_tag("works-icon3.png", class: 'img-responsive', alt:"") %>
      <p class="worktabhead">See a Registered Dietitian</p>
      <p>With the ease of a click, a secure and private video conferencing popup appears for your consultation at your scheduled session time.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 worktabs">
      <%= image_tag("works-icon4.png", class: 'img-responsive', alt:"") %>
      <p class="worktabhead">Get Your Personalized Guide</p>
      <p>After your session, the registered dietitian creates a personalized nutrition guide for your that can be acessed through your profile via the TeleDietitian web or mobile app.</p>
    </div>
  </div>
</div>