<!DOCTYPE html>
<html>
  <head>
   <title>TelaDietitian</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <style>
      
    </style>
  </head>
  <body class = "admin_login">
 <!--<p><%= notice %></p>
    <p><%= alert %></p> -->
    <div class="container">
      <%= render 'layouts/nav_bar' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
